[Desktop Entry]
Encoding=UTF-8
Name=GSEGrafix
Version=1.0
Comment=Scientific and engineering plotting program
TryExec=gsegrafix
Exec=gsegrafix %f
Icon=gsegrafix-logo.png
Terminal=false
Type=Application
Categories=Graphics;

